{% load static from staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <meta charset="UTF-8">
        <title> {% block title %}{% endblock %} </title>
    </head>
    <div class="site-container">
        <body>
        <nav>
            <a href="{% url 'views.hello_world' %}">Home</a>
            <a href="{% url 'courses:list' %}">Courses</a>
        </nav>
        {% block  content %}{% endblock %}
        </body>
    </div>
</html>